.body{
    background-color: rgb (234, 234, 234);
    font-family: roboto;
}
article{
    background-color: white;
        border-radius: 20px;
        height: auto;
        margin-bottom: 20px;
        box-shadow: 10px 5px 5px rgb(216, 212, 212);
}
h1{color:red;}