@import './variables.scss';

body{
    font-family: roboto;
}
.shrikhand {
    
    font-family: Shrikhand;

}
a{
    text-decoration: none;
    color: black;
}
header{ 

    .head-title{
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-family: Shrikhand;
            h1{
                margin:0 auto;
                
             }
    }
    
    
    img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        
    }
}
section{
    background-color: rgb(234, 234, 234);
    padding: 20px 20px 100px 20px;
    border-radius: 30px 30px 0 0;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    .big-title{
        font-family: Shrikhand;
    }
    .btn {
        background-color: $color-primaire;
        border: 4px solid $color-primaire;
        color: white;
        border-radius: 10rem;
        width: 130px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
        
    }
}
article{
        background-color: white;
        border-radius: 20px;
        height: auto;
        padding: 1px 10px;
        margin-bottom: 20px;
        box-shadow: 10px 5px 5px rgb(216, 212, 212);
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
        ul{
            list-style: none;
            padding: 0;
            li{
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color:white;
                }
            }
        }

}