@import './variables.scss';


.container{
    margin: 0 auto;
    max-width: 1200px;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;

    .localisation{
        background-color: rgb(192, 189, 189);
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin-left: 10px;
        }

        
    }

    .info{
        background-color: rgba(192, 192, 192, 0.397);
        height: 200px;
        .btn {
            background-color: violet;
            border: 4px solid violet;
            border-radius: 10rem;
            font-size: 20px;
            padding: 15px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            
           
        }
    }
}

aside{
    padding: 0 20px;
    .case{
        display: flex;
    }
}


.restaurants{
    background-color: rgba(192, 192, 192, 0.397);
    padding: 0 20px;

    .container-rest{
        display: flex;
        flex-direction: column;
    
    }

    article{
        background-color: white;
        border-radius: 20px;
        height: 300px;
        margin-bottom: 20px;
        box-shadow: 10px 5px 5px rgb(216, 212, 212);
        

        
        img{
            height: 65%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;

        }
        h3,p{
            margin-left: 10px;
        }

    }

    
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
        ul{
            list-style: none;
            padding: 0;
            li{
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color:white;
                }
            }
        }

}