@import './variables.scss';

body{
    font-family: roboto;
}
.shrikhand{
    font-family: Shrikhand;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;

    .localisation{
        background-color: rgb(234, 234, 234);
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin-left: 10px;
        }

        
    }

    .info{
        background-color: rgba(246, 246, 246);
        height: 200px;
        p{
            color: grey;
        }
        .btn {
            background-color: $color-primaire;
            border: 4px solid $color-primaire;
            color: white;
            border-radius: 10rem;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            p{
                color: white;
            }
           
        }
    }
}

aside{
    padding: 0 20px;
    .contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        .case{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            


            .number{
                display: flex;
                justify-content: space-around;
                border: solid 2px $color-primaire;
                border-radius: 50px;
                background-color: $color-primaire;
                height: 20px;
                width: 20px;
                margin-right: -10px;
                z-index: 2;
                
                
                
                p{  
                    font-size: 14px;
                    margin-top: 2px;
                    color: white;
                }
                
            }

            .text{
                display: flex;
                align-items: center;
                background-color:rgba(246, 246, 246);
                border: solid transparent;
                box-shadow: 10px 5px 3px rgb(234, 234, 234);
                border-radius: 20px;
                width: 350px;
                padding: 10px 20px;
                
               p{
                   margin-left: 20px;
                   font-weight: bold;
               }

               i{
                   color: grey;
               }
            }
        }
        
        
    }
    

}


.restaurants{
    background-color: rgba(246, 246, 246);
    padding: 40px 20px;
    
    

    .container-rest{
        display: flex;
        flex-direction: column;
    
    }

    article{
        background-color: white;
        border-radius: 20px;
        height: 250px;
        margin-bottom: 20px;
        box-shadow: 10px 5px 5px rgb(216, 212, 212);
        

        
        img{
            height: 65%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;

        }
        h3,p{
            margin-left: 10px;
            
        }
        p{
            margin-top: -10px;
        }

    }

    
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
        ul{
            list-style: none;
            padding: 0;
            li{
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color:white;
                }
            }
        }

}

/* test css une page */

