@media all and (min-width: 768px){

body{
    h2{
        text-align: center;
        margin-bottom: 40px;
    }
}
aside .fonction{
    
    .contain{
        flex-direction: row;
        justify-content: space-between;
        
        .text{
            width: 300px ;
        }
    }

    
}

.restaurants{
    .container-rest{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
        

        article{
            width: 250px;
        }
    }
}

}