header.menu .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  font-family: Shrikhand;
}
header.menu .head-title h1 {
  margin: 0 auto;
}
header.menu img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

section.menu {
  background-color: #eaeaea;
  padding: 20px 20px 100px 20px;
  border-radius: 30px 30px 0 0;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}
section.menu .big-title {
  font-family: Shrikhand;
}
section.menu .btn-menu {
  background: linear-gradient(#FF79DA, #9356DC);
  border: 2px solid #f6f6f6;
  box-shadow: 10px 5px 3px #eaeaea;
  color: white;
  border-radius: 10rem;
  width: 130px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 5px 50px;
}

article.carte-item {
  background-color: white;
  border-radius: 20px;
  height: auto;
  padding: 1px 10px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 5px #d8d4d4;
}

body {
  font-family: roboto;
  margin: 0;
}

.shrikhand {
  font-family: Shrikhand;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
header .localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .localisation p {
  margin-left: 10px;
}
header .info {
  background-color: #f6f6f6;
  height: 200px;
}
header .info p {
  color: grey;
}
header .info .btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: 2px solid #f6f6f6;
  box-shadow: 10px 5px 3px #eaeaea;
  color: white;
  border-radius: 10rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
header .info .btn p {
  color: white;
}

aside {
  padding: 0 20px;
}
aside .contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside .contain .case {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
aside .contain .case .number {
  display: flex;
  justify-content: space-around;
  border: solid 2px #9356DC;
  border-radius: 50px;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  margin-right: -10px;
  z-index: 2;
}
aside .contain .case .number p {
  font-size: 14px;
  margin-top: 2px;
  color: white;
}
aside .contain .case .text {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: solid transparent;
  box-shadow: 10px 5px 3px #eaeaea;
  border-radius: 20px;
  width: 350px;
  padding: 10px 20px;
}
aside .contain .case .text p {
  margin-left: 20px;
  font-weight: bold;
}
aside .contain .case .text i {
  color: grey;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 40px 20px;
  margin-top: 60px;
}
.restaurants .container-rest {
  display: flex;
  flex-direction: column;
}
.restaurants article {
  background-color: white;
  border-radius: 20px;
  height: 250px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 5px #d8d4d4;
  position: relative;
}
.restaurants article img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants article h3, .restaurants article p {
  margin-left: 10px;
}
.restaurants article p {
  margin-top: -10px;
}
.restaurants article .new p {
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: #009480;
  font-family: roboto;
  font-weight: bold;
  width: 100px;
  text-align: center;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
}
.restaurants article i {
  position: absolute;
  z-index: 2;
  right: 40px;
  bottom: 30px;
  font-size: 30px;
}
.restaurants article .on {
  color: transparent;
}
.restaurants article .on:hover {
  color: #9356DC;
}

footer {
  background: black;
  color: white;
  padding: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 1199px) {
  body h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  body aside .fonction .contain {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  body aside .fonction .contain .text {
    width: 300px;
  }
  body .restaurants .container-rest {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  body .restaurants .container-rest article {
    width: 250px;
  }
  body .big-title {
    text-align: center;
  }
  body .menu-card {
    display: flex;
    justify-content: space-evenly;
  }
  body .menu-card h4 {
    text-align: center;
  }
  body article.carte-item {
    width: 350px;
  }
}
@media all and (min-width: 767px) and (max-width: 1198px) {
  body h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  aside .fonction .contain {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  aside .fonction .contain .text {
    width: 250px;
  }

  .restaurants .container-rest {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .restaurants .container-rest article {
    width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
