header.menu .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  font-family: Shrikhand;
}
header.menu .head-title h1 {
  margin: 0 auto;
}
header.menu img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

section.menu {
  background-color: #eaeaea;
  padding: 20px 20px 100px 20px;
  border-radius: 30px 30px 0 0;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}
section.menu .big-title {
  font-family: Shrikhand;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section.menu .big-title .heart {
  display: flex;
}
section.menu .big-title i {
  font-size: 30px;
}
section.menu .big-title .on {
  margin-left: -30px;
  opacity: 0;
}
section.menu .big-title .on:hover, section.menu .big-title .on a:active {
  transition: 0.5s;
  color: #9356DC;
  opacity: 1;
}
section.menu .btn-menu {
  background: linear-gradient(#FF79DA, #9356DC);
  border: 2px solid #f6f6f6;
  box-shadow: 10px 5px 3px #eaeaea;
  color: white;
  border-radius: 10rem;
  width: 130px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 5px 50px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
section.menu .btn-menu:hover {
  border-radius: 25px;
}
section.menu .btn-menu:hover::after {
  border-radius: 25px;
  opacity: 1;
}
section.menu .btn-menu::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ff7edb;
  box-shadow: 10px 5px 3px lightgray;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

article.carte-item {
  background-color: white;
  border-radius: 20px;
  height: 100px;
  padding: 0 0 0 10px;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 10px 5px 5px #d8d4d4;
  opacity: 0;
  animation: menuslide 1s forwards;
}
article.carte-item.delay1 {
  animation-delay: 0.5s;
}
article.carte-item.delay2 {
  animation-delay: 1s;
}
article.carte-item.delay3 {
  animation-delay: 1.5s;
}
article.carte-item:hover .check {
  animation: checkslide 0.5s both;
}
article.carte-item:hover i {
  animation: checkrotate 0.5s both;
}

@keyframes checkslide {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100px;
  }
}
@keyframes checkrotate {
  from {
    transform: rotate(0);
    font-size: 35px;
  }
  to {
    font-size: 35px;
    transform: rotate(360deg);
  }
}
@keyframes menuslide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
article .text, article h3, article p {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article .price {
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
}

article .check {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  width: 0px;
  border-radius: 0 20px 20px 0;
}
article .check i {
  color: white;
  font-size: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: roboto;
  margin: 0;
}

.loader {
  background-color: gray;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 135%;
  animation: load-back 3s forwards;
}
.loader i {
  font-size: 100px;
  animation: load 3s forwards;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes load-back {
  from {
    opacity: 1;
  }
  to {
    background-color: transparent;
    opacity: 0;
    z-index: -3;
  }
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(5turn);
    background-color: transparent;
    opacity: 0;
    z-index: -3;
  }
}
.shrikhand {
  font-family: Shrikhand;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
header .localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .localisation p {
  margin-left: 10px;
}
header .info {
  background-color: #f6f6f6;
  height: 200px;
}
header .info p {
  color: grey;
}
header .info h3 {
  font-weight: bold;
}
header .info .btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: 2px solid #f6f6f6;
  box-shadow: 10px 5px 3px #eaeaea;
  color: white;
  border-radius: 10rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
header .info .btn:hover {
  border-radius: 25px;
}
header .info .btn:hover::after {
  border-radius: 25px;
  opacity: 1;
}
header .info .btn::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ff7edb;
  box-shadow: 10px 5px 3px lightgray;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
header .info .btn p {
  color: white;
}

aside {
  padding: 0 20px;
}
aside .contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside .contain .case {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
aside .contain .case .number {
  display: flex;
  justify-content: space-around;
  border: solid 2px #9356DC;
  border-radius: 50px;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  margin-right: -10px;
  z-index: 2;
}
aside .contain .case .number p {
  font-size: 14px;
  margin-top: 2px;
  color: white;
}
aside .contain .case .text {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: solid transparent;
  box-shadow: 10px 5px 3px #eaeaea;
  border-radius: 20px;
  width: 350px;
  padding: 10px 20px;
}
aside .contain .case .text p {
  margin-left: 20px;
  font-weight: bold;
}
aside .contain .case .text i {
  color: grey;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 40px 20px;
  margin-top: 60px;
}
.restaurants .container-rest {
  display: flex;
  flex-direction: column;
}
.restaurants article {
  background-color: white;
  border-radius: 20px;
  height: 250px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 5px #d8d4d4;
  position: relative;
  /*       i{
             position: absolute;
             z-index: 2;
             right: 40px;
             bottom: 30px;
             font-size: 30px;




         }    

         .on{

             opacity: 0;
             &:hover, a:active{
                 transition: 0.5s;
                 color: $color-primaire;
                 opacity: 1;

             }
         }*/
}
.restaurants article img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants article h3, .restaurants article p {
  margin-left: 10px;
}
.restaurants article p {
  margin-top: -10px;
}
.restaurants article .new p {
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: #009480;
  font-family: roboto;
  font-weight: bold;
  width: 100px;
  text-align: center;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
}
.restaurants article .info-card {
  display: flex;
  justify-content: space-between;
}
.restaurants article .info-card .heart-card {
  display: flex;
  width: 70px;
  height: 100px;
}
.restaurants article .info-card .heart-card i {
  font-size: 30px;
  margin-top: 25px;
}
.restaurants article .info-card .heart-card .off {
  margin-right: -30px;
}
.restaurants article .info-card .heart-card .on {
  opacity: 0;
  color: #9356DC;
  transition: 0.5s;
}
.restaurants article .info-card .heart-card .on:hover, .restaurants article .info-card .heart-card .on a:active {
  opacity: 1;
}

footer {
  background: black;
  color: white;
  padding: 20px;
}
footer p {
  font-weight: bold;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 1199px) {
  body h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  body aside .fonction .contain {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  body aside .fonction .contain .text {
    width: 300px;
  }
  body .restaurants .container-rest {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  body .restaurants .container-rest article {
    width: 250px;
  }
  body .big-title {
    text-align: center;
  }
  body .menu-card {
    display: flex;
    justify-content: space-evenly;
  }
  body .menu-card h4 {
    text-align: center;
  }
  body article.carte-item {
    width: 350px;
  }
}
@media all and (min-width: 767px) and (max-width: 1198px) {
  body h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  aside .fonction .contain {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  aside .fonction .contain .text {
    width: 250px;
  }

  .restaurants .container-rest {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .restaurants .container-rest article {
    width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
